* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url(../assets/istockphoto-1321288902-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  min-height: 100vh;
  width: 100%;
}

/* nav */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 5vw 2vh 5vw;
  border-bottom: 0.1rem solid rgba(40, 203, 240, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  color: red;
  font-size: 3vw;
  letter-spacing: 0.1vh;
  cursor: pointer;
}

nav h2 span {
  color: white;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1vw;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3vw;
}

nav ul li a:hover {
  color: rgb(255, 0, 0);
  transition-delay: 0.2s;
}

nav ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

nav ul li a:hover::after {
  transform: scaleX(0.5);
}

/* about */
#contact {
  padding-top: 10vw;
}

#contact form label {
  font-size: 1vw;
  font-weight: bold;
}

#contact h1 {
  text-align: center;
  font-size: 3.5vw;
  color: white;
  padding-bottom: 1vw;
}

#contact h1 span {
  color: red;
}

form {
  width: 80%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

input[type="reset"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #3e8e41;
}
